<%=titulo_pagina(link_icone("Ler Mensagem","envelope-o"),link_icone("Mensagem de: #{remetente(@mensagem)}",'check'))%>

<div class="well well-lg tooltips" data-trigger="hover" data-original-title=".well.well-lg">
						<%=raw(@mensagem.texto)%>
										</div>

										<%=link_to "Voltar",:back,:class=>"btn btn-success btn-sm"%>