<%content_for :dashboard do%>
<div class="col-md-12">
	<p class="text-center">
		<span class="text-danger" style="font-size:4em;">Oops!</span>
	</p>
		<p class="text-center">
		<%=image_tag("guincho.png")%>
	</p>

</div>
<%end%>