/*
  Icon Font: sitrom
*/

@font-face {
  font-family: "sitrom";
  src: url("/assets/sitrom_036481aa0f452b97d025a212ece122e9.eot");
  src: url("/assets/sitrom_036481aa0f452b97d025a212ece122e9.eot?#iefix") format("embedded-opentype"),
       url("/assets/sitrom_036481aa0f452b97d025a212ece122e9.woff") format("woff"),
       url("/assets/sitrom_036481aa0f452b97d025a212ece122e9.ttf") format("truetype"),
       url("/assets/sitrom_036481aa0f452b97d025a212ece122e9.svg#sitrom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "sitrom";
    src: url("/assets/sitrom_036481aa0f452b97d025a212ece122e9.svg#sitrom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fa-kombi:before,
.fa-motocicleta:before,
.fa-onibus:before,
.fa-pickup:before,
.fa-sitron-marker:before,
.fa-van:before {
  display: inline-block;
  font-family: "sitrom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-kombi:before { content: "\f107"; }
.fa-motocicleta:before { content: "\f106"; }
.fa-onibus:before { content: "\f102"; }
.fa-pickup:before { content: "\f108"; }
.fa-sitron-marker:before { content: "\f10a"; }
.fa-van:before { content: "\f109"; }
