<table class="table table-bordered table-striped" id="sortable" data-update_url=<%= requisicoes_path %> >
  <thead>
  <tr>
    <th>Nome</th>
    <th>CPF</th>
  </tr>
  </thead>
  <tbody>
  <tr data-item_id="1" class='item'>
    <td>Teste</td>
    <td>td</td>
  </tr>

  <tr data-item_id="2" class='item'>
    <td>Teste2</td>
    <td>td2</td>
  </tr>
  </tbody>
</table>
